body {
  width: 800px;
  font-family: sans-serif;
  margin: auto;
  color: #111111;
  background-color: #eeeeee;
  text-align: center;
  line-height: 1.4;
}

a {
  text-decoration: none;
  display: block;
}
